.contenedor-card-inicio {
  width: 100%;
  height: 40vh;
  background-color: #fff;
  border-radius: 3%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  padding: 2rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.contenedor-card-inicio:hover {
  transform: scale(1.009);
  transition: 0.3s;
}
.foto-inicio {
  width: 17%;
}
.foto-card-inicio {
  border-radius: 50%;
  width: 50%;
}
.imagen-texto-color-icono {
  font-size: 1rem;
  background-color: rgb(216, 216, 216);
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  gap: 10rem;
}

.titulo-card {
  width: 100%;
  padding-bottom: 1rem;
  font-size: 2rem;
}
